@font-face {
    font-family: 'icomoon';
    src: url('/Style/Fnt/icomoon.eot?o1k7md');
    src: url('/Style/Fnt/icomoon.eot?o1k7md#iefix') format('embedded-opentype'), url('/Style/Fnt/icomoon.ttf?o1k7md') format('truetype'), url('/Style/Fnt/icomoon.woff?o1k7md') format('woff'), url('/Style/Fnt/icomoon.svg?o1k7md#sbsfnt') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="car-rental-ico-"], [class*=" car-rental-ico-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.car-rental-ico-icons8-aparat .path1:before {
    content: "\e943";
    color: rgb(38, 50, 56);
}

.car-rental-ico-icons8-aparat .path2:before {
    content: "\e944";
    margin-left: -1em;
    color: rgb(38, 50, 56);
}

.car-rental-ico-icons8-aparat .path3:before {
    content: "\e945";
    margin-left: -1em;
    color: rgb(38, 50, 56);
}

.car-rental-ico-icons8-aparat .path4:before {
    content: "\e946";
    margin-left: -1em;
    color: rgb(38, 50, 56);
}

.car-rental-ico-icons8-aparat .path5:before {
    content: "\e947";
    margin-left: -1em;
    color: rgb(233, 30, 99);
}

.car-rental-ico-facebook:before {
    content: "\e948";
    color: #3b5998;
}

.car-rental-ico-instagram:before {
    content: "\e949";
    color: #e4405f;
}

.car-rental-ico-telegram:before {
    content: "\e94a";
    color: #2ca5e0;
}

.car-rental-ico-playlist_add:before {
    content: "\e01e";
}

.car-rental-ico-content-left:before {
    content: "\e101";
}

.car-rental-ico-menu:before {
    content: "\e120";
}

.car-rental-ico-mail:before {
    content: "\e158";
}

.car-rental-ico-mail2:before {
    content: "\e159";
}

.car-rental-ico-border_color:before {
    content: "\e22b";
}

.car-rental-ico-delete:before {
    content: "\e287";
}

.car-rental-ico-keyboard_arrow_down:before {
    content: "\e313";
}

.car-rental-ico-feedback:before {
    content: "\e87f";
}

.car-rental-ico-trending_up:before {
    content: "\e8e5";
}

.car-rental-ico-pause:before {
    content: "\e902";
}

.car-rental-ico-arrow-forward:before {
    content: "\e903";
}

.car-rental-ico-files:before {
    content: "\e904";
}

.car-rental-ico-user2:before {
    content: "\e905";
}

.car-rental-ico-calendar:before {
    content: "\e907";
}

.car-rental-ico-eye:before {
    content: "\e908";
}

.car-rental-ico-users:before {
    content: "\e909";
}

.car-rental-ico-transfer:before {
    content: "\e90b";
}

.car-rental-ico-in-alt:before {
    content: "\e90c";
}

.car-rental-ico-users2:before {
    content: "\e90d";
}

.car-rental-ico-mapmarker:before {
    content: "\e90e";
}

.car-rental-ico-chevron-down:before {
    content: "\e90f";
}

.car-rental-ico-chevron-small-down:before {
    content: "\e910";
}

.car-rental-ico-chevron-thin-down:before {
    content: "\e911";
}

.car-rental-ico-map:before {
    content: "\e912";
}

.car-rental-ico-heart:before {
    content: "\e913";
}

.car-rental-ico-left-quote:before {
    content: "\e914";
}

.car-rental-ico-right-quote:before {
    content: "\e915";
}

.car-rental-ico-share:before {
    content: "\e916";
}

.car-rental-ico-image:before {
    content: "\e917";
}

.car-rental-ico-earth:before {
    content: "\e918";
}

.car-rental-ico-history:before {
    content: "\e919";
}

.car-rental-ico-stats-dots:before {
    content: "\e91a";
}

.car-rental-ico-power:before {
    content: "\e91c";
}

.car-rental-ico-graph:before {
    content: "\e91d";
}

.car-rental-ico-phone-hang-up:before {
    content: "\e91e";
}

.car-rental-ico-chevron-left:before {
    content: "\e91f";
}

.car-rental-ico-chevron-right:before {
    content: "\e920";
}

.car-rental-ico-chevron-small-down2:before {
    content: "\e921";
}

.car-rental-ico-chevron-small-left:before {
    content: "\e922";
}

.car-rental-ico-chevron-small-right:before {
    content: "\e923";
}

.car-rental-ico-chevron-small-up:before {
    content: "\e924";
}

.car-rental-ico-chevron-thin-down2:before {
    content: "\e925";
}

.car-rental-ico-chevron-thin-left:before {
    content: "\e926";
}

.car-rental-ico-chevron-thin-right:before {
    content: "\e927";
}

.car-rental-ico-chevron-thin-up:before {
    content: "\e928";
}

.car-rental-ico-dots-three-horizontal:before {
    content: "\e929";
}

.car-rental-ico-dots-three-vertical:before {
    content: "\e92a";
}

.car-rental-ico-dots-two-horizontal:before {
    content: "\e92b";
}

.car-rental-ico-dots-two-vertical:before {
    content: "\e92c";
}

.car-rental-ico-ccw:before {
    content: "\e92d";
}

.car-rental-ico-check:before {
    content: "\e92e";
}

.car-rental-ico-cross:before {
    content: "\e92f";
}

.car-rental-ico-hyperlink:before {
    content: "\e930";
}

.car-rental-ico-linkedin:before {
    content: "\e931";
}

.car-rental-ico-chat:before {
    content: "\e936";
}

.car-rental-ico-camera:before {
    content: "\e937";
}

.car-rental-ico-paperplane:before {
    content: "\e938";
}

.car-rental-ico-office:before {
    content: "\e939";
}

.car-rental-ico-drink:before {
    content: "\e93a";
}

.car-rental-ico-car:before {
    content: "\e93b";
}

.car-rental-ico-document-fill:before {
    content: "\e93c";
}

.car-rental-ico-select-arrows:before {
    content: "\e93d";
}

.car-rental-ico-signal:before {
    content: "\f012";
}

.car-rental-ico-cog:before {
    content: "\f013";
}

.car-rental-ico-edit:before {
    content: "\f044";
}

.car-rental-ico-alignment-align:before {
    content: "\f08a";
}

.car-rental-ico-home:before {
    content: "\f08d";
}

.car-rental-ico-group:before {
    content: "\f0c0";
}

.car-rental-ico-angle-down:before {
    content: "\f107";
}

.car-rental-ico-long-arrow-left:before {
    content: "\f177";
}

.car-rental-ico-long-arrow-right:before {
    content: "\f178";
}

.car-rental-ico-fax:before {
    content: "\f1ac";
}

.car-rental-ico-video:before {
    content: "\e011";
}

.car-rental-ico-circle-compass:before {
    content: "\e038";
}

.car-rental-ico-compass:before {
    content: "\e932";
}

.car-rental-ico-params:before {
    content: "\e933";
}

.car-rental-ico-barometer:before {
    content: "\e934";
}

.car-rental-ico-barometer2:before {
    content: "\e935";
}

.car-rental-ico-snowflake:before {
    content: "\e93e";
}

.car-rental-ico-gaspump:before {
    content: "\e93f";
}

.car-rental-ico-steering-wheel:before {
    content: "\e940";
}

.car-rental-ico-user:before {
    content: "\e900";
}

.car-rental-ico-map-pin-alt:before {
    content: "\e941";
}

.car-rental-ico-window:before {
    content: "\e901";
}

.car-rental-ico-star:before {
    content: "\f02a";
}

.car-rental-ico-safari:before {
    content: "\eadd";
}

.car-rental-ico-connection:before {
    content: "\e91b";
}

.car-rental-ico-th-list:before {
    content: "\e906";
}

.car-rental-ico-th-large:before {
    content: "\e90a";
}

.car-rental-ico-airline_seat_recline_extra:before {
    content: "\e636";
}

.car-rental-ico-directions_car:before {
    content: "\e531";
}

.car-rental-ico-format_color_fill:before {
    content: "\e23a";
}

.car-rental-ico-settings_bluetooth:before {
    content: "\e8bb";
}

.car-rental-ico-cog2:before {
    content: "\e023";
}

.car-rental-ico-map2:before {
    content: "\e072";
}

.car-rental-ico-snowflake-o:before {
    content: "\f2dc";
}

.car-rental-ico-air:before {
    content: "\e942";
}


/* ========================================== */
._flex {
    display: flex;
}

div[over], section[over], article[over] {
    overflow-x: hidden;
    overflow-y: auto;
}

div[overflow], section[overflow], article[overflow], figure[overflow] {
    overflow: hidden;
}

._dir-align-r {
    direction: rtl;
    text-align: right;
}

._dir-align-l {
    direction: ltr;
    text-align: left;
}

._w100 {
    width: 100%;
    margin: 0;
    padding: 0;
}

._w90-pad5 {
    width: 90%;
    margin: 0;
    padding: 0 5%;
}

._w90-m5 {
    width: 90%;
    margin: 0 5%;
    padding: 0;
}

._w95-pad25 {
    width: 95%;
    margin: 0;
    padding: 0 2.5%;
}

._w95-m25 {
    width: 95%;
    margin: 0 2.5%;
    padding: 0;
}

._w50 {
    width: 50%;
    margin: 0;
    padding: 0;
}

._w40-m5 {
    width: 40%;
    margin: 0 5%;
    padding: 0;
}

._h100 {
    height: 100%;
}

._flex {
    display: flex;
}

._f-r {
    float: right;
}

._f-l {
    float: left;
}

._bg-w {
    background: #fff;
}

._bg-25 {
    background: #252525;
}

._bg-20 {
    background: #202020;
}

._bg-10 {
    background: #101010;
}

._bg-w1 {
    background: #f1f1f1;
}

._bg-c {
    background: #ccc;
}

._bg-d {
    background: #ddd;
}

._bg-e {
    background: #eee;
}

._bg-y {
    background: #caa23c;
}

._color-w {
    color: #fff;
}

._color-w1 {
    color: #f1f1f1;
}

._color-y {
    color: #caa23c;
}

._color-25 {
    color: #252525;
}

._bold {
    font-weight: bold;
}

._fnt-en {
}

._fnt-fa {
    font-family: "irSans","irYekan";
}

._cursor {
    cursor: pointer;
}

._position-r {
    position: relative;
}

._position-a {
    position: absolute;
}

._position-f {
    position: fixed;
}

._trans {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
}

._trans_1 {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

._trans_2 {
    -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 100ms;
    -moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 100ms;
    -ms-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 100ms;
    -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 100ms;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}
/* body content css */
@font-face {
    font-family: "irSans";
    font-style: normal;
    font-weight: normal;
    src: url('../Style/Fnt/irsans.ttf') format('truetype');
}

@font-face {
    font-family: "irYekan";
    font-style: normal;
    font-weight: normal;
    src: url('../Style/Fnt/Yekan.ttf') format('truetype');
}

A:link, A:hover, A:active, A:visited, img, img:link, img:hover, img:active, img:visited {
    text-decoration: none;
    outline: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none outside none;
}

body[data-lang="fa"] {
    float: right;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "irSans","irYekan";
    font-size: 1em;
}

input[type='text'] {
    border-radius: 2px 2px 2px 2px;
    border: 1px solid #CCC;
    font-family: "irSans","irYekan", Tahoma, sans-serif;
    font-size: 1em;
}

    input[type='text']:hover, input[type='text']:focus {
        box-shadow: 0 3px 5px 0 rgba(0,0,0,0.15)inset;
    }

.base-modal-login-reg {
    z-index: -1;
    opacity: 0;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0.85);
    align-items: center;
    justify-content: center;
}

    .base-modal-login-reg .login-reg {
        width: 35%;
        border-radius: 3px;
        height: 60%;
        overflow-x: hidden;
        overflow-y: auto;
        flex-flow: column nowrap;
    }

        .base-modal-login-reg .login-reg .t, .base-modal-login-reg .login-reg .c, .base-modal-login-reg .login-reg .f {
            flex-flow: row nowrap;
        }

        .base-modal-login-reg .login-reg .t, .base-modal-login-reg .login-reg .f {
            padding-top: 8px;
            padding-bottom: 8px;
            flex: 0 1 auto;
            min-height: 35px;
            align-items: center;
            justify-content: flex-start;
        }

        .base-modal-login-reg .login-reg .t {
            border-bottom: 1px solid #DDD;
        }

            .base-modal-login-reg .login-reg .t > h1 {
                font-size: 1em;
                color: #606060;
            }

        .base-modal-login-reg .login-reg .f {
            border-top: 1px solid #DDD;
        }

            .base-modal-login-reg .login-reg .f > .bttn-frm {
                padding: 4px 8px;
                background: #308ff6;
                border-radius: 2px;
                color: #F1F1F1;
                align-items: center;
                justify-content: center;
                font-size: 1em;
                border: 1px solid #3b5998;
                margin: 0 8px;
            }

                .base-modal-login-reg .login-reg .f > .bttn-frm:hover {
                    background: #3b5998;
                }

        .base-modal-login-reg .login-reg .c {
            overflow-x: hidden;
            overflow-y: auto;
            flex: 1 1 auto;
            flex-flow: row wrap;
            align-items: flex-start;
            align-content: flex-start;
            justify-content: flex-start;
            padding-bottom: 10px;
            padding-top: 15px;
        }

            .base-modal-login-reg .login-reg .c .info-user {
                flex-flow: row wrap;
                align-items: flex-start;
                align-content: flex-start;
                justify-content: flex-start;
            }

                .base-modal-login-reg .login-reg .c .info-user .select-date-time {
                    font-size: 1em;
                    color: #a94442;
                    margin-bottom: 10px;
                }



.desc-info {
    flex-flow: row wrap;
    margin-top: 5px;
}

.saved-info-later {
    flex-flow: row wrap;
    margin-top: 25px;
    margin-bottom: 30px;
}

.desc-info > h3 {
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
    font-size: 1em;
    color: #303030;
}

.saved-info-later > h3 {
    font-size: 1em;
    color: #3c763d;
}

.desc-info > h4 {
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
    font-size: 0.9em;
    color: #303030;
}

.base-modal-login-reg.showModalRegLogin {
    z-index: 1000;
    opacity: 1;
}

.base-modal-login-reg.showNationalCode {
    z-index: 1000;
    opacity: 1;
}

    .base-modal-login-reg.showNationalCode .login-reg {
        width: 35%;
        height: 30%;
    }

        .base-modal-login-reg.showNationalCode .login-reg .c {
            align-items: center;
            align-content: center;
            justify-content: center;
        }

.split-content {
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-bottom: 10px;
}

    .split-content.ch-split-content {
        align-self: flex-start;
        flex-flow: column nowrap;
        justify-content: flex-start;
    }

    .split-content label {
        color: #505050;
        flex: 0 1 auto;
        font-size: 0.9em;
        margin-left: 5px;
        width: 120px;
    }

    .split-content.ch-split-content label {
        align-self: flex-start;
        justify-content: flex-start;
        margin-bottom: 10px;
        font-size: 0.9em;
    }

    .split-content input, .split-content textarea {
        border: 1px solid #ddd;
        border-radius: 2px;
        color: #505050;
        flex: 1 1 auto;
        font-size: 0.9em;
        padding: 5px 2.5%;
        width: 95%;
    }

        .split-content input.captcha {
            flex: 0 1 auto;
            padding: 5px 8px;
            width: 150px;
        }

    .split-content img {
        margin-right: 10px;
    }

    .split-content textarea {
        max-width: 95%;
        min-height: 130px;
        min-width: 95%;
    }

        .split-content input:hover, .split-content input:focus, .split-content textarea:hover, .split-content textarea:focus {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
        }

    .split-content button {
        background: #3b5998 none repeat scroll 0 0;
        border: 1px solid #0000cd;
        border-radius: 2px;
        color: #f1f1f1;
        cursor: pointer;
        font-size: 1.3em;
        margin-left: 20px;
        padding: 5px 8px;
    }

        .split-content button:hover {
            background: #274b97 none repeat scroll 0 0;
        }
